HOST=0.0.0.0
PORT=8000
JWT_SECRET_KEY=JWT_KEY_GOES_HERE
ADMIN_USERNAME=USERNAME_GOES_HERE
ADMIN_PASSWORD=PASSWORD_GOES_HERE
DB_PATH=data/music.db
BACKGROUND_IMAGE=static/background.jpg
#YTDLP_COOKIES=
SONG_BUFFER_SECONDS=10
MAX_QUEUE_SIZE=50
CLEANUP_COUNT=2
CLEANUP_DAY=mon
CLEANUP_HOUR=04
